body {
  margin:0px;
  background-color:rgba(94, 94, 94, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:41px;
  width:1535px;
  height:936px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:139px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:196px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:242px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:0px;
  width:219px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:215px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:0px;
  width:295px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:291px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:176px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:102px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:143px;
  height:102px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:139px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:102px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:30px;
  width:196px;
  height:102px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:192px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:102px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:30px;
  width:246px;
  height:102px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:242px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:102px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:30px;
  width:256px;
  height:102px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:252px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:102px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:30px;
  width:219px;
  height:102px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:215px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:102px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:30px;
  width:295px;
  height:102px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:291px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:102px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:30px;
  width:180px;
  height:102px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:176px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:73px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:143px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:139px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:73px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:132px;
  width:196px;
  height:73px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:192px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:73px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:132px;
  width:246px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:242px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:73px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:132px;
  width:256px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:252px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:73px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:132px;
  width:219px;
  height:73px;
  font-size:14px;
  color:#1E1E1E;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:215px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:73px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:132px;
  width:295px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:291px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:73px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:132px;
  width:180px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:176px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:279px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:143px;
  height:279px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:139px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:279px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:205px;
  width:196px;
  height:279px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:192px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:279px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:205px;
  width:246px;
  height:279px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:242px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:279px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:205px;
  width:256px;
  height:279px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:252px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:279px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:205px;
  width:219px;
  height:279px;
  font-size:12px;
  color:#1E1E1E;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:215px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:279px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:205px;
  width:295px;
  height:279px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:291px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:279px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:205px;
  width:180px;
  height:279px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:176px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:162px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:484px;
  width:143px;
  height:162px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:139px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:162px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:484px;
  width:196px;
  height:162px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:192px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:162px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:484px;
  width:246px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:242px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:162px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:484px;
  width:256px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:252px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:162px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:484px;
  width:219px;
  height:162px;
  font-size:12px;
  color:#1E1E1E;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:215px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:162px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:484px;
  width:295px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:291px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:162px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:484px;
  width:180px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:71px;
  width:176px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:80px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:646px;
  width:143px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:139px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:80px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:646px;
  width:196px;
  height:80px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:192px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:80px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:646px;
  width:246px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:242px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:646px;
  width:256px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:252px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:80px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:646px;
  width:219px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:215px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:80px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:646px;
  width:295px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:291px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:646px;
  width:180px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:176px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:210px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:726px;
  width:143px;
  height:210px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:139px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:210px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:726px;
  width:196px;
  height:210px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:192px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:210px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:726px;
  width:246px;
  height:210px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:242px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:210px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:726px;
  width:256px;
  height:210px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:252px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:210px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:726px;
  width:219px;
  height:210px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:215px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:210px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:726px;
  width:295px;
  height:210px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:291px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:210px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:726px;
  width:180px;
  height:210px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:176px;
  word-wrap:break-word;
}
